/* Styles for www.victoriabian.com */

/* FONT STYLES */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Alegreya Sans Thin'), local('AlegreyaSans-Thin'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/TKyx_-JJ6MdpQruNk-t-PMirbh6OUF7J5FHbYIz0tTY.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/KYNzioYhDai7mTMnx_gDgnt9r5m2YmP5sw3cUAQwL0E.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aRSu2h6M8zeGTOAvuRkzdcM.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aVV8F1P-UN-fltcX6iMUcbA.woff) format('woff');
}

/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* COLOR DEFINITIONS */
$pink: #ee478d;
$blue: #00bcdd;
$gray: #42393c;
$green: #8dc73f;
$white: #fff;

$light_gray: #e4e1e2;
$light_pink: #fcdce4;
$light_blue: #9edbed;

$white: #fff;
$black: #000;




/* GENERAL */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: url("images/background.jpg");
  background-attachment: fixed !important;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.wrapper {
	@extend .clearfix;
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

/* CLEARFIX */
.clearfix {
	zoom:1;
	&:before, &:after {
    	content: "\0020";
		display: block;
		height: 0;
		@extend .clearfix;
  }
  &:after {
    clear: both;
  }
}

/* NAVIGATION */
$navigation-height: 65px;

.navigation {
	position: fixed;
	z-index: 3;
	ul {
		overflow: hidden;
	}
	li {
		height: $navigation-height;
	}
	
	#logo {
		position: fixed;
		width: $navigation-height;
		background: $black url("images/logo.png");
		background-size: contain;
		z-index: 2;
		a{
			display: block;
		}
		&:hover {
			cursor: pointer;
		}
	}
	
	.navigation-item {
		float: left;
		position: relative;
		background: $white;
		margin-left: 0;
		-moz-transition: margin-left 0.5s;
		-webkit-transition: margin-left 0.5s;
		transition: margin-left 0.5s;
		
		&.first {
			margin-left: $navigation-height;
		}
		
/*
	    &#home {
	      &:hover {
	        cursor: default;
	        background: $white;
	        a { color: $pink; cursor: default; }
	      }
	    }
*/
		
		a {
			display: block;
			width: 100%;
			height: 100%;
			padding: 22px 40px 0 40px;
			font: 500 18px/20px "Josefin Sans", "Lato", "Alegreya Sans", "Helvetica", "Arial", sans-serif;
			color: $pink;
			text-decoration: none;
		}
		&.active,
		&:hover {
			cursor: pointer;
			background: $pink;
			a {
				color: $white;
			}
		}
	    &.active:hover {
		    cursor: default;
		    a {
			    cursor: default;
		    }
	    }  
	}
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: "Josefin Sans", "Lato", "Alegreya Sans", "Helvetica", "Arial", sans-serif;
	color: $white;
}

h1 {
	font-weight: 700;
	font-size: 45px;
}
h2{
	font-weight: 500;
	font-size: 30px;
}
h3, h4, h5, h6 {
	font-weight: 100;
}

h3 {
	font-size: 20px;
	line-height: 30px;
	&.skill {
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		line-height: 23px;
	}
}

h4 {
	font-size: 17px;
	line-height: 20px;
}

h5 {
	font-size: 40px;
	line-height: 46px;
	a.about-link,
	em {
		font-weight: 400;
	}
	a.about-link {
		display: inline;
		text-decoration: none;
		padding: 0;
		&:hover {
			text-decoration: underline;
		}
	}
}

h6 {
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 10px;
}

hr {
	border: 1px solid white;
	margin: 15px 0;
}

p {
	font-weight: 100;
	font-size: 25px;
	line-height: 32px;
	strong {
		font-weight: 400;
	}
	em {
		text-decoration: underline;
	}
}

/* GRID */
$grid-sizes: (small medium large full);
$box-height: 400px;
$tall_box_height: 550px;
.row,
.grid {
	float: left;
}
.container {
	@extend.clearfix;	
}


.grid {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	&:hover a {
		cursor: pointer;
		.grid-text {
			display: block;
			h2, h4 {
				background: $gray;
				color: $white;
			}
		}
	}
	
	a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	&.blue {
		background: $blue;
	}
	&.pink {
		background: $pink;
	}
	&.gray {
		background: $gray;
	}
	&.white {
		background: $white;
		h2 {
			color: $gray;
			margin-bottom: 10px;
		}
	}
	&.green {
		background: $green;
	}
}



.row {
	@extend .clearfix;
	@each $size in $grid-sizes {
		.#{$size}-grid {
			height: auto;
			padding: 25px;
		}
	}
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0;
// 	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


@each $size in $grid-sizes {
	.#{$size}-grid {
		@extend .grid;
	}

}


.large-grid {
	width: 50%;
}
.medium-grid {
	width: 33.33%; 
}
.small-grid {
	width: 25%; 
}
.full-grid {
	width: 100%;
}

@media only screen and (max-width: 480px) {
	.large-grid,
	.medium-grid,
	.small-grid {
		width: 100%; 
	}
}

/* INDIVIDUAL GRID */
#about {
	height: 250px;
	background: #b7e6f5;
}
#photo {
	height: 500px;
	background: #b5e7d5;
}
#story {
	height: 250px;
	background: #fffcdb;
}
#icon {
	height: 150px;
	background: #e2c4f5;
}
#quote {
	height: 150px;
	background: #f9d97a;
}
#web {
	height: 300px;
	background: #ec9cdb;
}
#app {
	height: 300px;
	background: #cff18e;
}
#web-design {
	height: 300px;
	background: #c2782e;
}
#web-development {
	height: 300px;
	background: #8432ee;
}
#ui-ux {
	height: 300px;
	background: #45edda;
}
#ios {
	height: 300px;
	background: #77ffee;
}
#work {
	height: 300px;
	background: #293044;
}
#course {
	height: 300px;
	background: #fe2309;
}
/* GRID TEXT */
.grid-text {
	display: block;
	position: absolute;
	bottom: 25px;
	right: 25px;
	text-align: right;
	h1 {
		padding: 4px 16px;
	}
	h2, h3, h4 {
		padding: 4px 12px;
	}

	&.pink {
    	h1, h2,
		h3, h4,
		h5, h6 {
			background: $pink;
    	}
	}

	&.blue {
    	h1, h2,
		h3, h4,
    	h5, h6 {
			background: $blue;
    	}
	}

	&.gray {
    	h1, h2,
		h3, h4,
		h5, h6 {
			background: $gray;
    	}
	}

	&.green {
		h1, h2,
		h3, h4,
		h5, h6 {
			background: $green;
			}
		}

	&.white {
		h1, h2,
		h3, h4,
		h5, h6 {
			color: $gray;
			background: $white;
		}
		h3 {
			font-weight: 400;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		float: right;
	}
}

.large-grid-text,
.medium-grid-text,
.small-grid-text,
.xlarge-grid-text,
.full-grid-text {
	@extend .grid-text;

}

.xlarge-grid-text {
	width: 60%;
}

.large-grid-text {
	width: 50%;
}
.medium-grid-text {
	width: 40%;
}
.small-grid-text {
	width: 30%;
}
.full-grid-text {
	width: 400px;
}


/* IMAGES */


