/* Styles for www.victoriabian.com */
/* FONT STYLES */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 100;
  src: local("Alegreya Sans Thin"), local("AlegreyaSans-Thin"), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/TKyx_-JJ6MdpQruNk-t-PMirbh6OUF7J5FHbYIz0tTY.woff) format("woff"); }
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans"), local("AlegreyaSans-Regular"), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/KYNzioYhDai7mTMnx_gDgnt9r5m2YmP5sw3cUAQwL0E.woff) format("woff"); }
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aRSu2h6M8zeGTOAvuRkzdcM.woff) format("woff"); }
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aVV8F1P-UN-fltcX6iMUcbA.woff) format("woff"); }
/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* COLOR DEFINITIONS */
/* GENERAL */
html,
body {
  width: 100%;
  height: 100%; }

body {
  background: url("images/background.jpg");
  background-attachment: fixed !important;
  background-position: center center;
  width: 100%;
  height: 100%; }

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto; }

/* CLEARFIX */
.clearfix, .wrapper, .clearfix:before, .clearfix:after, .container, .row {
  zoom: 1; }
  .clearfix:before, .wrapper:before, .container:before, .row:before, .clearfix:after, .wrapper:after, .container:after, .row:after {
    content: "\0020";
    display: block;
    height: 0; }
  .clearfix:after, .wrapper:after, .container:after, .row:after {
    clear: both; }

/* NAVIGATION */
.navigation {
  position: fixed;
  z-index: 3; }
  .navigation ul {
    overflow: hidden; }
  .navigation li {
    height: 65px; }
  .navigation #logo {
    position: fixed;
    width: 65px;
    background: #000 url("images/logo.png");
    background-size: contain;
    z-index: 2; }
    .navigation #logo a {
      display: block; }
    .navigation #logo:hover {
      cursor: pointer; }
  .navigation .navigation-item {
    float: left;
    position: relative;
    background: #fff;
    margin-left: 0;
    -moz-transition: margin-left 0.5s;
    -webkit-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
    /*
    	    &#home {
    	      &:hover {
    	        cursor: default;
    	        background: $white;
    	        a { color: $pink; cursor: default; }
    	      }
    	    }
    */ }
    .navigation .navigation-item.first {
      margin-left: 65px; }
    .navigation .navigation-item a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 22px 40px 0 40px;
      font: 500 18px/20px "Josefin Sans", "Lato", "Alegreya Sans", "Helvetica", "Arial", sans-serif;
      color: #ee478d;
      text-decoration: none; }
    .navigation .navigation-item.active, .navigation .navigation-item:hover {
      cursor: pointer;
      background: #ee478d; }
      .navigation .navigation-item.active a, .navigation .navigation-item:hover a {
        color: #fff; }
    .navigation .navigation-item.active:hover {
      cursor: default; }
      .navigation .navigation-item.active:hover a {
        cursor: default; }

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: "Josefin Sans", "Lato", "Alegreya Sans", "Helvetica", "Arial", sans-serif;
  color: #fff; }

h1 {
  font-weight: 700;
  font-size: 45px; }

h2 {
  font-weight: 500;
  font-size: 30px; }

h3, h4, h5, h6 {
  font-weight: 100; }

h3 {
  font-size: 20px;
  line-height: 30px; }
  h3.skill {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 23px; }

h4 {
  font-size: 17px;
  line-height: 20px; }

h5 {
  font-size: 40px;
  line-height: 46px; }
  h5 a.about-link,
  h5 em {
    font-weight: 400; }
  h5 a.about-link {
    display: inline;
    text-decoration: none;
    padding: 0; }
    h5 a.about-link:hover {
      text-decoration: underline; }

h6 {
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 10px; }

hr {
  border: 1px solid white;
  margin: 15px 0; }

p {
  font-weight: 100;
  font-size: 25px;
  line-height: 32px; }
  p strong {
    font-weight: 400; }
  p em {
    text-decoration: underline; }

/* GRID */
.row,
.grid,
.small-grid,
.medium-grid,
.large-grid,
.full-grid {
  float: left; }

.grid, .small-grid, .medium-grid, .large-grid, .full-grid {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .grid:hover a, .small-grid:hover a, .medium-grid:hover a, .large-grid:hover a, .full-grid:hover a {
    cursor: pointer; }
    .grid:hover a .grid-text, .small-grid:hover a .grid-text, .medium-grid:hover a .grid-text, .large-grid:hover a .grid-text, .full-grid:hover a .grid-text, .grid:hover a .large-grid-text, .small-grid:hover a .large-grid-text, .medium-grid:hover a .large-grid-text, .large-grid:hover a .large-grid-text, .full-grid:hover a .large-grid-text,
    .grid:hover a .medium-grid-text,
    .small-grid:hover a .medium-grid-text,
    .medium-grid:hover a .medium-grid-text,
    .large-grid:hover a .medium-grid-text,
    .full-grid:hover a .medium-grid-text,
    .grid:hover a .small-grid-text,
    .small-grid:hover a .small-grid-text,
    .medium-grid:hover a .small-grid-text,
    .large-grid:hover a .small-grid-text,
    .full-grid:hover a .small-grid-text,
    .grid:hover a .xlarge-grid-text,
    .small-grid:hover a .xlarge-grid-text,
    .medium-grid:hover a .xlarge-grid-text,
    .large-grid:hover a .xlarge-grid-text,
    .full-grid:hover a .xlarge-grid-text,
    .grid:hover a .full-grid-text,
    .small-grid:hover a .full-grid-text,
    .medium-grid:hover a .full-grid-text,
    .large-grid:hover a .full-grid-text,
    .full-grid:hover a .full-grid-text {
      display: block; }
      .grid:hover a .grid-text h2, .small-grid:hover a .grid-text h2, .medium-grid:hover a .grid-text h2, .large-grid:hover a .grid-text h2, .full-grid:hover a .grid-text h2, .grid:hover a .large-grid-text h2, .small-grid:hover a .large-grid-text h2, .medium-grid:hover a .large-grid-text h2, .large-grid:hover a .large-grid-text h2, .full-grid:hover a .large-grid-text h2,
      .grid:hover a .medium-grid-text h2,
      .small-grid:hover a .medium-grid-text h2,
      .medium-grid:hover a .medium-grid-text h2,
      .large-grid:hover a .medium-grid-text h2,
      .full-grid:hover a .medium-grid-text h2,
      .grid:hover a .small-grid-text h2,
      .small-grid:hover a .small-grid-text h2,
      .medium-grid:hover a .small-grid-text h2,
      .large-grid:hover a .small-grid-text h2,
      .full-grid:hover a .small-grid-text h2,
      .grid:hover a .xlarge-grid-text h2,
      .small-grid:hover a .xlarge-grid-text h2,
      .medium-grid:hover a .xlarge-grid-text h2,
      .large-grid:hover a .xlarge-grid-text h2,
      .full-grid:hover a .xlarge-grid-text h2,
      .grid:hover a .full-grid-text h2,
      .small-grid:hover a .full-grid-text h2,
      .medium-grid:hover a .full-grid-text h2,
      .large-grid:hover a .full-grid-text h2,
      .full-grid:hover a .full-grid-text h2, .grid:hover a .grid-text h4, .small-grid:hover a .grid-text h4, .medium-grid:hover a .grid-text h4, .large-grid:hover a .grid-text h4, .full-grid:hover a .grid-text h4, .grid:hover a .large-grid-text h4, .small-grid:hover a .large-grid-text h4, .medium-grid:hover a .large-grid-text h4, .large-grid:hover a .large-grid-text h4, .full-grid:hover a .large-grid-text h4,
      .grid:hover a .medium-grid-text h4,
      .small-grid:hover a .medium-grid-text h4,
      .medium-grid:hover a .medium-grid-text h4,
      .large-grid:hover a .medium-grid-text h4,
      .full-grid:hover a .medium-grid-text h4,
      .grid:hover a .small-grid-text h4,
      .small-grid:hover a .small-grid-text h4,
      .medium-grid:hover a .small-grid-text h4,
      .large-grid:hover a .small-grid-text h4,
      .full-grid:hover a .small-grid-text h4,
      .grid:hover a .xlarge-grid-text h4,
      .small-grid:hover a .xlarge-grid-text h4,
      .medium-grid:hover a .xlarge-grid-text h4,
      .large-grid:hover a .xlarge-grid-text h4,
      .full-grid:hover a .xlarge-grid-text h4,
      .grid:hover a .full-grid-text h4,
      .small-grid:hover a .full-grid-text h4,
      .medium-grid:hover a .full-grid-text h4,
      .large-grid:hover a .full-grid-text h4,
      .full-grid:hover a .full-grid-text h4 {
        background: #42393c;
        color: #fff; }
  .grid a, .small-grid a, .medium-grid a, .large-grid a, .full-grid a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .grid.blue, .blue.small-grid, .blue.medium-grid, .blue.large-grid, .blue.full-grid {
    background: #00bcdd; }
  .grid.pink, .pink.small-grid, .pink.medium-grid, .pink.large-grid, .pink.full-grid {
    background: #ee478d; }
  .grid.gray, .gray.small-grid, .gray.medium-grid, .gray.large-grid, .gray.full-grid {
    background: #42393c; }
  .grid.white, .white.small-grid, .white.medium-grid, .white.large-grid, .white.full-grid {
    background: #fff; }
    .grid.white h2, .white.small-grid h2, .white.medium-grid h2, .white.large-grid h2, .white.full-grid h2 {
      color: #42393c;
      margin-bottom: 10px; }
  .grid.green, .green.small-grid, .green.medium-grid, .green.large-grid, .green.full-grid {
    background: #8dc73f; }

.row .small-grid {
  height: auto;
  padding: 25px; }
.row .medium-grid {
  height: auto;
  padding: 25px; }
.row .large-grid {
  height: auto;
  padding: 25px; }
.row .full-grid {
  height: auto;
  padding: 25px; }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 0; }

.col:first-child {
  margin-left: 0; }

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; } }
/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

.large-grid {
  width: 50%; }

.medium-grid {
  width: 33.33%; }

.small-grid {
  width: 25%; }

.full-grid {
  width: 100%; }

@media only screen and (max-width: 480px) {
  .large-grid,
  .medium-grid,
  .small-grid {
    width: 100%; } }
/* INDIVIDUAL GRID */
#about {
  height: 250px;
  background: #b7e6f5; }

#photo {
  height: 500px;
  background: #b5e7d5; }

#story {
  height: 250px;
  background: #fffcdb; }

#icon {
  height: 150px;
  background: #e2c4f5; }

#quote {
  height: 150px;
  background: #f9d97a; }

#web {
  height: 300px;
  background: #ec9cdb; }

#app {
  height: 300px;
  background: #cff18e; }

#web-design {
  height: 300px;
  background: #c2782e; }

#web-development {
  height: 300px;
  background: #8432ee; }

#ui-ux {
  height: 300px;
  background: #45edda; }

#ios {
  height: 300px;
  background: #77ffee; }

#work {
  height: 300px;
  background: #293044; }

#course {
  height: 300px;
  background: #fe2309; }

/* GRID TEXT */
.grid-text, .large-grid-text,
.medium-grid-text,
.small-grid-text,
.xlarge-grid-text,
.full-grid-text {
  display: block;
  position: absolute;
  bottom: 25px;
  right: 25px;
  text-align: right; }
  .grid-text h1, .large-grid-text h1,
  .medium-grid-text h1,
  .small-grid-text h1,
  .xlarge-grid-text h1,
  .full-grid-text h1 {
    padding: 4px 16px; }
  .grid-text h2, .large-grid-text h2,
  .medium-grid-text h2,
  .small-grid-text h2,
  .xlarge-grid-text h2,
  .full-grid-text h2, .grid-text h3, .large-grid-text h3,
  .medium-grid-text h3,
  .small-grid-text h3,
  .xlarge-grid-text h3,
  .full-grid-text h3, .grid-text h4, .large-grid-text h4,
  .medium-grid-text h4,
  .small-grid-text h4,
  .xlarge-grid-text h4,
  .full-grid-text h4 {
    padding: 4px 12px; }
  .grid-text.pink h1, .pink.large-grid-text h1,
  .pink.medium-grid-text h1,
  .pink.small-grid-text h1,
  .pink.xlarge-grid-text h1,
  .pink.full-grid-text h1, .grid-text.pink h2, .pink.large-grid-text h2,
  .pink.medium-grid-text h2,
  .pink.small-grid-text h2,
  .pink.xlarge-grid-text h2,
  .pink.full-grid-text h2,
  .grid-text.pink h3,
  .pink.large-grid-text h3,
  .pink.medium-grid-text h3,
  .pink.small-grid-text h3,
  .pink.xlarge-grid-text h3,
  .pink.full-grid-text h3, .grid-text.pink h4, .pink.large-grid-text h4,
  .pink.medium-grid-text h4,
  .pink.small-grid-text h4,
  .pink.xlarge-grid-text h4,
  .pink.full-grid-text h4,
  .grid-text.pink h5,
  .pink.large-grid-text h5,
  .pink.medium-grid-text h5,
  .pink.small-grid-text h5,
  .pink.xlarge-grid-text h5,
  .pink.full-grid-text h5, .grid-text.pink h6, .pink.large-grid-text h6,
  .pink.medium-grid-text h6,
  .pink.small-grid-text h6,
  .pink.xlarge-grid-text h6,
  .pink.full-grid-text h6 {
    background: #ee478d; }
  .grid-text.blue h1, .blue.large-grid-text h1,
  .blue.medium-grid-text h1,
  .blue.small-grid-text h1,
  .blue.xlarge-grid-text h1,
  .blue.full-grid-text h1, .grid-text.blue h2, .blue.large-grid-text h2,
  .blue.medium-grid-text h2,
  .blue.small-grid-text h2,
  .blue.xlarge-grid-text h2,
  .blue.full-grid-text h2,
  .grid-text.blue h3,
  .blue.large-grid-text h3,
  .blue.medium-grid-text h3,
  .blue.small-grid-text h3,
  .blue.xlarge-grid-text h3,
  .blue.full-grid-text h3, .grid-text.blue h4, .blue.large-grid-text h4,
  .blue.medium-grid-text h4,
  .blue.small-grid-text h4,
  .blue.xlarge-grid-text h4,
  .blue.full-grid-text h4,
  .grid-text.blue h5,
  .blue.large-grid-text h5,
  .blue.medium-grid-text h5,
  .blue.small-grid-text h5,
  .blue.xlarge-grid-text h5,
  .blue.full-grid-text h5, .grid-text.blue h6, .blue.large-grid-text h6,
  .blue.medium-grid-text h6,
  .blue.small-grid-text h6,
  .blue.xlarge-grid-text h6,
  .blue.full-grid-text h6 {
    background: #00bcdd; }
  .grid-text.gray h1, .gray.large-grid-text h1,
  .gray.medium-grid-text h1,
  .gray.small-grid-text h1,
  .gray.xlarge-grid-text h1,
  .gray.full-grid-text h1, .grid-text.gray h2, .gray.large-grid-text h2,
  .gray.medium-grid-text h2,
  .gray.small-grid-text h2,
  .gray.xlarge-grid-text h2,
  .gray.full-grid-text h2,
  .grid-text.gray h3,
  .gray.large-grid-text h3,
  .gray.medium-grid-text h3,
  .gray.small-grid-text h3,
  .gray.xlarge-grid-text h3,
  .gray.full-grid-text h3, .grid-text.gray h4, .gray.large-grid-text h4,
  .gray.medium-grid-text h4,
  .gray.small-grid-text h4,
  .gray.xlarge-grid-text h4,
  .gray.full-grid-text h4,
  .grid-text.gray h5,
  .gray.large-grid-text h5,
  .gray.medium-grid-text h5,
  .gray.small-grid-text h5,
  .gray.xlarge-grid-text h5,
  .gray.full-grid-text h5, .grid-text.gray h6, .gray.large-grid-text h6,
  .gray.medium-grid-text h6,
  .gray.small-grid-text h6,
  .gray.xlarge-grid-text h6,
  .gray.full-grid-text h6 {
    background: #42393c; }
  .grid-text.green h1, .green.large-grid-text h1,
  .green.medium-grid-text h1,
  .green.small-grid-text h1,
  .green.xlarge-grid-text h1,
  .green.full-grid-text h1, .grid-text.green h2, .green.large-grid-text h2,
  .green.medium-grid-text h2,
  .green.small-grid-text h2,
  .green.xlarge-grid-text h2,
  .green.full-grid-text h2,
  .grid-text.green h3,
  .green.large-grid-text h3,
  .green.medium-grid-text h3,
  .green.small-grid-text h3,
  .green.xlarge-grid-text h3,
  .green.full-grid-text h3, .grid-text.green h4, .green.large-grid-text h4,
  .green.medium-grid-text h4,
  .green.small-grid-text h4,
  .green.xlarge-grid-text h4,
  .green.full-grid-text h4,
  .grid-text.green h5,
  .green.large-grid-text h5,
  .green.medium-grid-text h5,
  .green.small-grid-text h5,
  .green.xlarge-grid-text h5,
  .green.full-grid-text h5, .grid-text.green h6, .green.large-grid-text h6,
  .green.medium-grid-text h6,
  .green.small-grid-text h6,
  .green.xlarge-grid-text h6,
  .green.full-grid-text h6 {
    background: #8dc73f; }
  .grid-text.white h1, .white.large-grid-text h1,
  .white.medium-grid-text h1,
  .white.small-grid-text h1,
  .white.xlarge-grid-text h1,
  .white.full-grid-text h1, .grid-text.white h2, .white.large-grid-text h2,
  .white.medium-grid-text h2,
  .white.small-grid-text h2,
  .white.xlarge-grid-text h2,
  .white.full-grid-text h2,
  .grid-text.white h3,
  .white.large-grid-text h3,
  .white.medium-grid-text h3,
  .white.small-grid-text h3,
  .white.xlarge-grid-text h3,
  .white.full-grid-text h3, .grid-text.white h4, .white.large-grid-text h4,
  .white.medium-grid-text h4,
  .white.small-grid-text h4,
  .white.xlarge-grid-text h4,
  .white.full-grid-text h4,
  .grid-text.white h5,
  .white.large-grid-text h5,
  .white.medium-grid-text h5,
  .white.small-grid-text h5,
  .white.xlarge-grid-text h5,
  .white.full-grid-text h5, .grid-text.white h6, .white.large-grid-text h6,
  .white.medium-grid-text h6,
  .white.small-grid-text h6,
  .white.xlarge-grid-text h6,
  .white.full-grid-text h6 {
    color: #42393c;
    background: #fff; }
  .grid-text.white h3, .white.large-grid-text h3,
  .white.medium-grid-text h3,
  .white.small-grid-text h3,
  .white.xlarge-grid-text h3,
  .white.full-grid-text h3 {
    font-weight: 400; }
  .grid-text h1, .large-grid-text h1,
  .medium-grid-text h1,
  .small-grid-text h1,
  .xlarge-grid-text h1,
  .full-grid-text h1, .grid-text h2, .large-grid-text h2,
  .medium-grid-text h2,
  .small-grid-text h2,
  .xlarge-grid-text h2,
  .full-grid-text h2, .grid-text h3, .large-grid-text h3,
  .medium-grid-text h3,
  .small-grid-text h3,
  .xlarge-grid-text h3,
  .full-grid-text h3, .grid-text h4, .large-grid-text h4,
  .medium-grid-text h4,
  .small-grid-text h4,
  .xlarge-grid-text h4,
  .full-grid-text h4, .grid-text h5, .large-grid-text h5,
  .medium-grid-text h5,
  .small-grid-text h5,
  .xlarge-grid-text h5,
  .full-grid-text h5, .grid-text h6, .large-grid-text h6,
  .medium-grid-text h6,
  .small-grid-text h6,
  .xlarge-grid-text h6,
  .full-grid-text h6 {
    float: right; }

.xlarge-grid-text {
  width: 60%; }

.large-grid-text {
  width: 50%; }

.medium-grid-text {
  width: 40%; }

.small-grid-text {
  width: 30%; }

.full-grid-text {
  width: 400px; }

/* IMAGES */

/*# sourceMappingURL=style.css.map */
